<div id="header">
    <div id="top-nav" class="container">
        <div class="logo-container">
            <ul>
                <li class="title">buy from the best</li>
                <li class="logo">tstr</li>
            </ul>
        </div>
        <ul class="session-list">
            <li>@Html.ActionLink("PRODUCT", "Index", new { area = "Administration", controller = "ProductAdmin" })</li>
            <li>@Html.ActionLink("supplier", "Index", new { controller = "Supplier" })</li>
            <li>@Html.ActionLink("REVIEWS", "Index", new { controller = "Review" })</li>
        </ul>
    </div>
</div>
