<div id="top-nav" class="container">
    <div class="logo-container">
        <ul>
            <li class="title">buy from the best</li>
            <li class="logo">tstr</li>
        </ul>
    </div>
    <ul class="session-list">
        <li><a href="#">MUSIC</a></li>
        <li><a href="#">WEAR</a></li>
        <li><a href="#">SOUVENIR</a></li>
        <li><a href="#">ARTISTS</a></li>
    </ul>
</div>
